@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 0.2vw;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(1, 109, 233, 0.153);
}

html{
  scroll-behavior: smooth;
}
.active {
  color: rgb(0, 95, 212);
  font-weight: 600;
}
